<% include partials/header %>

<div class="col-lg-12">
    <h1 id="about">About Us</h1>
    <hr>
    <p>The Internet Banking System that is to be developed is not a complete bank itself. The Internet
        Banking System software and its requirements are only pertaining to functionality that can be done
        by bank online.<br> This website was build
        using Node.js
    </p>
</div>
<div class="col-lg-12 text-center">
    <h2>Team</h2>
    <hr>
    <h2>Nitin</h2>
    <p id="p">C.S Undergraduates at VIT Vellore</p>
    <div id="icon" style="font-size: 40px;">
        <a href="https://www.facebook.com/profile.php" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/nitin-5a385215b/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Ntn1712" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <hr>

</div>

<% include partials/footer %>